<section class="main-container">
        <p class="section-title">Add New Item</p>

    <form ng-submit="$ctrl.addItem($ctrl.item)" id="new-item-form">
        <label for="item-name">Product Name:</label>
        <input ng-model="$ctrl.item.product" id="item-name-input" name="item-name" type="text" required>
        <label for="item-price">Price:</label>
        <input ng-model="$ctrl.item.price" id="item-price-input" name="item-price" type="text" required>
        <label for="item-quantity">Quantity:</label>
        <input ng-model="$ctrl.item.quantity" id="item-quant-input" name="item-quantity" type="number" required>
        <button class="cart-btn">Add to cart <i class="fas fa-cart-plus"></i></button>
    </form>
    <p class="section-title">Your Shopping List :]</p>
    <table>
        <tr>
            <td class="column-title item-delete"></td>
            <td class="column-title item-name">Product Name</td>
            <td class="column-title item-price">Price</td>
            <td class="column-title item-quantity">Quantity</td>
        </tr>
        <tr ng-repeat="item in $ctrl.cart">
            <td class="item-delete" ng-click="$ctrl.removeItem(item.id);"><i class="fas fa-times-circle"></i></td>
            <td class="item-name">{{ item.product }}</td>
            <td class="item-price">${{ item.price }}</td>
            <td class="item-quantity">{{ item.quantity }}</td>
        </tr>
    </table>
</section>