/* Coolors Exported Palette - coolors.co/f08700-00a6a6-353535-dad2d8-ef476f */

/* HSL */
$color1: hsla(34%, 100%, 47%, 1);
$color2: hsla(180%, 100%, 33%, 1);
$color3: hsla(0%, 0%, 21%, 1);
$color4: hsla(315%, 10%, 84%, 1);
$color5: hsla(346%, 84%, 61%, 1);

/* RGB */
$color1: rgba(240, 135, 0, 1);
$color2: rgba(0, 166, 166, 1);
$color3: rgba(53, 53, 53, 1);
$color4: rgba(218, 210, 216, 1);
$color5: rgba(239, 71, 111, 1);