body {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}
.main-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
}
.section-title {
    font-size: 20px;
    color: rgba(239, 71, 111, 1);
}
#new-item-form {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#new-item-form input {
    padding: 2px 0;
}
#item-name-input {
    width: 200px;
}
#item-price-input {
    width: 100px;
}
#item-quant-input {
    width: 75px;
}
.cart-btn {
    background: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    margin-top: 15px;
}
.cart-btn:hover {
    cursor: pointer;
    color: rgba(0, 166, 166, 1);
}
.fa-cart-plus {
    font-size: 20px;
}
td {
    height: 24px;
}
.column-title {
    color: rgba(53, 53, 53, 1);
}
table tr:nth-child(odd), table tr:nth-child(odd) .quantity-input {
    color: rgba(240, 135, 0, 1);
}
table tr:nth-child(even), table tr:nth-child(even) .quantity-input {
    color: rgba(0, 166, 166, 1);
}
.fa-times-circle {
    color: rgba(53, 53, 53, 1);
}
.fa-times-circle:hover {
    cursor: pointer;
    color: rgba(239, 71, 111, 1);
}
.item-name {
    width: 80%;
    padding-right: 5px;
}
.item-price {
    width: 10%;
    padding-right: 5px;
}
.item-quantity {
    align-content: center;
}
.quantity-input {
    width: 100%;
    text-align: center;
    padding: 2px 0;
    font-family: 'Press Start 2P', cursive;
    border: none;
}